#climas{
   background-color: aliceblue;
   padding-bottom: 50px;
   padding-top: 50px;
}

#semanal{
  background-color: aliceblue;
   padding-bottom: 50px;
   padding-top: 50px;
   p{
    padding-top: 71px;
}
}