body{
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
#climas{
   background-color: aliceblue;
   padding-bottom: 50px;
   padding-top: 50px;
}

#semanal{
  background-color: aliceblue;
   padding-bottom: 50px;
   padding-top: 50px;
   p{
    padding-top: 71px;
}
   .linea-dias{
      border-bottom: 2px solid black;
      border-top: 2px solid black;
   }
}